@import "../../components/styles/constants";

.marketplace-tile {
    border-radius: $tile-radius !important;
}

.tile-link {
    font: unset;
    color: unset;

    &:hover {
        text-decoration: unset;
        cursor: pointer;

        img {
            opacity: 0.8;
        }
    }

    .tile-body {
        background-color: color("white");
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        border-radius: $tile-radius;

        .card-img-top {
            border-top-left-radius: $tile-radius;
            border-top-right-radius: $tile-radius;
        }

        .card-img-thumb {
            border-radius: 10px;
            width: 100%;
            height: auto;
        }
    }
}
