@import "../../components/styles/constants";

.marketplace-tile {
    border-radius: $tile-radius !important;
}

.tile-link {
    font: unset !important;
    color: unset !important;
    text-decoration: none !important;

    .tile-body {
        background-color: color("white");
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        border-radius: $tile-radius;

        .card-img-top {
            border-top-left-radius: $tile-radius;
            border-top-right-radius: $tile-radius;
        }

        .card-img-thumb {
            border-radius: 10px;
            width: 100%;
            height: auto;
        }
    }

    &:hover {
        color: color("link") !important;
        text-decoration: inherit;
        cursor: pointer;

        .tile-body {
            color: color("link") !important;
        }

        img {
            opacity: 0.8;
        }
    }
}
