@import "./constants";

/* Styling for Social Follow */
a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;

    color: black !important;

    &:hover {
        opacity: 0.8;
        //transform: translateY(-2px);
    }

    .social-icon {height:32px; width:auto;}

/*    a.youtube {
        // color: #eb3223;
        color: black;
    }

    a.facebook {
        // color: #4968ad;
        color: black;
    }

    a.twitter {
        // color: #49a1eb;
        color: black;
    }

    a.instagram {
        color: black;
    }*/
}

