<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @await Html.PartialAsync("_Head")
</head>
<body>

    <header>
        <div class="header-logo">
        </div>
    </header>
    <div class="content">
        @RenderBody()
    </div>
    <footer>
        @await Html.PartialAsync("_Footer")
    </footer>
</body>
</html>