@using System
@using CESMII.Marketplace.Api.Shared.Models
@using CESMII.Marketplace.DAL.Models
@using CESMII.Common.SelfServiceSignUp.Utils
@model PurchaseReceiptModel
@{
    Layout = "_EmailLayout";

    var _user = Model.Cart.CheckoutUser;
    var _fullName = $"{_user.FirstName} {_user.LastName}";
    var _numItems = Model.Cart.Items.Count == 1 ? Model.Cart.Items[0].MarketplaceItem.DisplayName : $"{Model.Cart.Items.Count} items";
    var _libraryUrl = $"{Model.BaseUrl}/library/";
    var _totalCost = Model.Cart.Items.Sum(x => x.SelectedPrice.Amount * x.Quantity);

}

<div class="divider-bottom">
    @if (!string.IsNullOrEmpty(_fullName))
    {
        <p>Dear @_fullName,</p>
    }
    <p> Thank you for purchasing <b>@_numItems</b> from the <a href="@Model.BaseUrl">CESMII SM Marketplace</a>.
    The following details your purchase. Please retain for your records. 
    </p>
</div>

@await Html.PartialAsync(@"/Views/Template/_ECommerceCustomerInfo.cshtml", Model.CheckoutUser);

<div>
    <h2 class="mb-0" >Purchased Items</h2>
    <hr class="compact blue"/>
    @{
        foreach (var item in Model.Cart.Items)
        {
            var purchaseItem = new PurchaseNotificationModel() { BaseUrl = Model.BaseUrl, CartItem = item, CheckoutUser = Model.Cart.CheckoutUser };
            @await Html.PartialAsync(@"/Views/Template/_ECommerceCartItem.cshtml", purchaseItem);
        }
    }

    <div class="divider-bottom">
        <table class="standard" >
            @if (Model.Cart.UseCredits && Model.Cart.CreditsApplied.HasValue)
            {
                <tr class="divider-bottom">
                    <td style="width:75%">
                        <p><b>Credits Applied</b></p>
                    </td>
                    <td style="width:25%; text-align:right;">
                        <p><b>@Model.Cart.CreditsApplied</b></p>
                    </td>
                </tr>
            }
            <tr class="divider-bottom">
                <td style="width:75%">
                    <p><b>Total</b></p>
                </td>
                <td style="width:25%; text-align:right;">
                    <p><b>@_totalCost.ToString("C")</b></p>
                </td>
            </tr>
        </table>
    </div>
</div>


@await Html.PartialAsync(@"/Views/Template/_AboutCESMII.cshtml");
