@using CESMII.Marketplace.Api.Shared.Models
@model TokenModel
@{
    Layout = "_EmailLayout";
    var url = Model.BaseUrl;
}
<tr>
    <td class="wrapper">
        <table role="presentation">
            <tr>
                <td>
                    <p>Hi there,</p>
                    <p>You recently submitted a request for a forgotten password.</p>
                    <table role="presentation" class="btn btn-primary">
                        <tbody>
                            <tr>
                                <td>
                                    <table role="presentation">
                                        <tbody>
                                            <tr>
                                                <td> <a href="@url/ForgotPassword/@Model.Token" target="_blank">Reset your password</a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>If you did not make this request, please contact the support team at:</p>
                    <p><a href="mailto:devops@cesmii.org">CESMII Smart Innovation Platform Team</a></p>
                </td>
            </tr>
        </table>
    </td>
</tr>